<body>
  <main id="main">            
  <app-lateral-menu>    </app-lateral-menu>  
  
  <section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Search</h2>       
      </div>
      <form  [formGroup]="form"  > 	        
      <div class="row">
        <div class="col-lg-12 col-md-12  col-sm-12 text-center">
            <input #input formControlName="search_superhero" id="search_superhero" type="text" maxlength=10 class="input_search"  placeholder="name" type="text" />
      </div>
      </div>
      <div class="row" *ngIf="sending">
        <div class="col-lg-12 col-md-12  col-sm-12 text-center">
            <img src="assets/img/ajax-loader.gif">
      </div>
      </div>

    </form>

    </div>
  </section>
  
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">             
      <div class="row" data-aos="fade-up" data-aos-delay="100">      
        <div *ngFor="let sheroe of listSuperHeros" class="col-lg-4 col-md-6 portfolio-item filter-app">                             
          <app-super-hero-home [hero]="sheroe" [allowAdd]="false"></app-super-hero-home> 
      </div>                
      </div>

    </div>
  </section>
  </main>
  </body>
